#AuthUserFile ./.htpasswd
#AuthName "Please enter your ID and password"
#AuthType Basic
#require valid-user

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond ${REQUEST_URI} (.+)/$
RewriteRule ^disk/(.*) /%1 [L,R=301]
RewriteBase /disk

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
</IfModule>





